ul{
    list-style-type: none;
}
#root>header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 148px;
    width: 40%;
    border: 2px solid var(--border);
    border-radius: 20px;
    text-transform: uppercase;
}
#mode-names>ul>li{
    color: white;
    font-weight: 700;
}
#score{
    text-align: center;
    background-color: white;
    padding: 20px 40px;
    border-radius: 20px;
    letter-spacing: 1.5px;
}
#score>h2{
    color: var(--score-text);
}#score>p{
    color: var(--dark-text);
    font-weight: 700;
    font-size: 50px;
}
.pentagon-type{
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-image: url('../assets/bg-pentagon.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
}
.triangle-type{
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-image: url('../assets/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
}
.rotate{
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
.circle{
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 7px 7px 15px hsl(229, 25%, 11%), -7px -7px 15px var(--dark-text), inset 0 0 0 transparent, inset 0 0 0 transparent;
    transition: 0.5s ease-in-out;
}
.btn.nobtn:hover{
    background-image: transparent;
}
.circle:hover{
    transform: scale(0.95);
    box-shadow: 7px 7px 15px 6px var(--dark-text), -7px -7px 15px  var(--border), inset 0 -7rem 4px  #0fd850, inset 0 0 0 transparent;
}
.rock-btn {
    bottom: -42.5px;
    right: 42.5px;
	background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}

.rock-btn.triangle-type-btn{
    bottom: 0;
    right: 36%; 
}
.rock-btn>.btn:hover {
    background-image:  radial-gradient(hsl(349, 71%, 82%), hsl(349, 70%, 56%));
}
.paper-btn {
    top: 102.5px;
    right: -52.5px;
    background-image: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}
.paper-btn.triangle-type-btn{
    top: -40px;
    left: -40px;
}
.paper-btn>.btn:hover {
    background-image:  radial-gradient(hsl(230, 89%, 82%), hsl(230, 89%, 85%));
}
.scissors-btn {
    top: -42.5px;
    left: 182.5px;
    background-image: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}
.scissors-btn.triangle-type-btn{
    top: -40px;
    left: 380px;
}
.scissors-btn>.btn:hover {
    background-image:  radial-gradient(hsl(39, 89%, 89%), hsl(40, 84%, 53%));
}
.lizard-btn {
    bottom: -42.5px;
    left: 42.5px;
    background-image: radial-gradient( hsl(261, 73%, 60%), hsl(261, 72%, 63%));
}
.lizard-btn>.btn:hover {
    background-image:  radial-gradient( hsl(261, 73%, 80%), hsl(261, 72%, 63%));
}
.spock-btn {
    top: 102.5px;
    left: -52.5px;
    background-image: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
}
.spock-btn>.btn:hover {
    background-image: radial-gradient(hsl(189, 59%, 93%), hsl(189, 58%, 57%));
}
button{
    border: none;
    background-color: transparent;
}
.circle>button>img{
    background-color: transparent;
}
.btn{
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    width: 100px;
    height: 100px;
}
#rules-footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
}
#rules, #mode-btn{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    border: 2px solid var(--border);
    color: var(--border);cursor: pointer;
}
#rules:hover, #mode-btn:hover{
    color: var(--dark-text);
    background-color: var(--border);
}
.circle.play{
    position: relative;
}
.rock-btn.play>.btn,.paper-btn.play>.btn,.scissors-btn.play>.btn, .lizard-btn.play>.btn, .spock-btn.play>.btn{
    cursor: default;
}


.rock-btn.play,.paper-btn.play,.scissors-btn.play, .lizard-btn.play, .spock-btn.play{
    top: 0;
    left: 0;
}

.rock-btn.play>div>img,.paper-btn.play>div>img,.scissors-btn.play>div>img, .lizard-btn.play>div>img, .spock-btn.play>div>img{
    position: absolute;
    bottom: 45px;
    left: 45px;
}
#play-section, #mode{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    gap: 20px;
}
#result{
    width: 222px;
    text-align: center;
    text-transform: uppercase;
}
.play-btn{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    color: var(--dark-text);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.play-btn:hover{
    color: white;
    background-color: var(--dark-text);
}
#result>p{
    margin-bottom: 10px;
    font-size: 55px;
    font-weight: 700;
    color: white;
}
.container-game{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.picked{
    font-size: 25px;
    margin-bottom: 25px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.winner{
    box-shadow: 7px 7px 15px 6px var(--dark-text), -7px -7px 15px  var(--border), inset 0 -7rem 4px  #0fd850, inset 0 0 0 transparent;
}

#you-picked-container:hover, #house-picked-container:hover{
    transform: none;
    box-shadow: 7px 7px 15px hsl(229, 25%, 11%), -7px -7px 15px var(--dark-text), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

#you-picked-circle:hover, #house-picked-circle:hover{
    background-image: none;
}

:is(.page-content, .modal, .background){
    transition: 0.5s;
}
.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.5);
}
.modal{
    position: fixed;
    top: 50%;
    right: -300px;
    translate: 50% -50%;
    background: #f9f9f9;
    color: #1d2025;
    padding: 48px 40px;
    width: 400px;
    border-radius: 12px;
}
.modal-content>h3{
    font-size: 28px;
    color: var(--border);
    text-transform: uppercase;
}
@keyframes modal-in{
    0%, 50%{
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }
    55%, 100%{
        right: 50%;
    }60%{
        width: 400px;
        height: 300px;
        border-radius: 12px;
    }75%{
        translate: 50% -50%;
    }
}@keyframes modal-content-in{
    0%,75%{ opacity: 0;}
    85%, 100%{ opacity: 1;}
}
body.open .background{
    visibility: visible;
    opacity: 1;
}
body.open .modal-content{
    animation: modal-content-in 1s both;
}
body.open> .page-content{
    scale: 0.75
}
body.open .modal{
    animation: modal-in 1s both
}
.mode-btn{
    cursor: pointer;
    width: 140px;
    height: 140px;
    padding: 1.3rem 1rem;
    border: 3px solid var(--dark-text);
    border-radius: 50%;
    background: var(--dark-text);
    color: var(--border);
    box-shadow: 7px 7px 15px hsl(229, 25%, 11%), -7px -7px 15px var(--dark-text), inset 0 0 0 transparent, inset 0 0 0 transparent;
    transition: 0.5s ease-in-out;
}
 .mode-btn:hover{
    transform: scale(1.03);
    color: var(--dark-text);
    box-shadow: 7px 7px 15px 6px rgba(55, 55, 55, 0.2), -7px -7px 15px #ddd, inset 0 -7rem 4px var(--border), inset 0 0 0 transparent;
    border-color: var(--border);
 }

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        scale: 0.5;
        transform: rotate(360deg);
    }
  }
@media (max-width: 600px){
    #root>header{
        flex-direction: column;
        height: auto;
        gap: 10px;
        padding: 10px;
    }
    #play-section{
        flex-direction: column;
    }
    #board, #score, .play, #result>p, .picked{
        scale: 0.6;
    }
    #mode{
        flex-direction: column;
    }
}